.main {
    width: 285px;
    height: 570px;
    background-color: #aa3a43;
    background-image: linear-gradient(to bottom, rgb(94, 21, 28), rgb(173, 59, 68));
    border-radius: 40px;
    margin: 50px auto;
    border-style: groove;
    border-width: 12px;
    border-color: #080808;
    box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.75);
}

.upper{
    height: 250px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.charger {
    position: relative;
    left: 35px;
    top: -10px;
    color: white;
    font-size: 10px;
}

.conn {
    position: relative;
    top:-10px;
    color: white; 
    font-size: 10px;
}

.black-spot {
    position: relative;
    left: 15px;
    background-color: #01050d;
    height: 30px;
    width: 150px;
    top: 0;
    border-radius: 0 0 20px 20px;
}

.text {
    position: relative;
    height: 50px;
    top: 30px;
    color: white;
    font-family: monospace;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}

.work-area {
    position: absolute;
    bottom: 40px;
    width: 240px;
    color: white;
    font-size: 28px;
    right: 20px;
    font-weight: bold;
    text-align: right;
    border-bottom: 1px solid white;
}

.work-area .result {
    padding-bottom: 15px;
}

.operands {
    font-weight: lighter;
    padding-bottom: 10px;
    font-size: 20px;
}

.lower {
    position: relative;
    bottom: 50px;
}

.top-line div {
    display: inline-block;
}

.numbers {
    margin: 20px;
}

.numbers div {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
}

.numbers #clear, .numbers #pow {
    width:80px;
    border-radius: 50px 50px;
    background-color: #C39496;
}

.operators {
    position: relative;
    float: right;
    width: 60px;
    bottom: 330px;
    margin-right: 10px;
    font-weight: bold;
}

.operators div {
    background-color: #C39496;
    border: 1px solid;
    color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.numbers div:hover, .operators div:hover, .numbers #clear:hover, .numbers #pow:hover {
    background-color: #7a7c8a;
}

.operators .equal {
    position: relative;
    width: 110px;
    right: 60px;
    border-radius: 50px 50px;
    background-color: #b6993a;
}

.lower span {
    position: relative;
    top: 15px;
    font-size: 20px;
    font-family: sans-serif;
}

#pow span {
    top: 15px;
    line-height: 10px;
}

